

.matcard {
    height: 400px;
    width: 30%;
    margin-left: 35%;
    margin-top: 6%;
    text-align: center;
}

.mat-card-title {
    margin-top: 10%;
    margin: 20%;
}

.login-form {
    width: 100%;
    height: 100%;
}

.login-full-width1 {
    width: 100%;
    height: 100%;
    padding-bottom: 4%;
}

.login-full-width2 {
    width: 100%;
    height: 100%;
    padding-bottom: 8%;
}

.login-button-row button,
.login-button-row a {
  margin-right: 8px;
  width: 100%;
  height: 10%;
}