.login {
    width: 100%;
    height: 680px;
    background-image: url("/assets/images/123.jpg");
    margin-top: -1.3%;
}

.para {
    background-color: rgba(137, 43, 226, 0);
    height: 90px;
    width: 100%;
}

.matcard {
    height: 500px;
    background-color: rgba(255, 255, 255, 0.37);
    width: 30%;
    margin-left: 35%;
    text-align: center;
}

.log {
    margin: 8%;
    text-align: center;
}

.mat-card-title.img {
    image-rendering: pixelated;
}

/* .login-form {
    width: 100%;
    height: 100%;
} */

.login-full-width1 {
    width: 90%;
    height: 100%;
    padding-bottom: 4%;
}

.login-full-width2 {
    width: 90%;
    height: 100%;
    padding-bottom: 8%;
}

.login-button-row button,
.login-button-row a {
  width: 90%;
  height: 10%;
}