<div class="register">
    <div class="para">
        <p></p>
    </div>
    <mat-card class="matcard">
        <mat-card-title>
            <img src="/assets/images/346.png" class="img">
            <p class="log">Rgister</p>
        </mat-card-title>
        <mat-card-content>
            <form class="register-form" [formGroup]="registerForm">
                <mat-form-field class="register-full-username">
                    <mat-label>User Name</mat-label>
                    <input matInput type="email" required formControlName="email" placeholder="ex. naveen@gmail.com" />
                </mat-form-field>
                <mat-form-field class="register-full-width1">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" required formControlName="email" placeholder="ex. naveen@gmail.com" />
                </mat-form-field>
                <mat-form-field class="register-full-width2">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" required formControlName="password" placeholder="Password" />
                </mat-form-field>
                <div class="register-button-row">
                    <button mat-raised-button color="" (click)="registerUser()">
                        Register
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
