<mat-tab-group class="mattabgroup">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon aria-hidden="false" aria-label="Example home icon">home <a routerLink="/">Home</a></mat-icon>
      <!-- <img src="/assets/images/8.png" alt=""> -->
      
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <!-- <img src="/assets/images/348.png" alt="">
      <a routerLink="/login">Login</a> -->
      <mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="Example thumbs up SVG icon"><a routerLink="/login">Login</a></mat-icon>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <img src="/assets/images/347.png" alt="">
      <a routerLink="/register">Register</a>
    </ng-template>
  </mat-tab>
</mat-tab-group>


<!-- <mat-grid-list cols="3" rowHeight="12:1">
    <mat-grid-tile><a routerLink="/">Home</a></mat-grid-tile>
    <mat-grid-tile><a routerLink="/login">Login</a></mat-grid-tile>
    <mat-grid-tile><a routerLink="/register">Register</a></mat-grid-tile>
    <mat-grid-tile>Others</mat-grid-tile>
</mat-grid-list> -->

<!-- <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/login">Login</a></li>
    <li><a routerLink="/register">Register</a></li>
</ul> -->