<mat-tab-group class="mattabgroup">
  <mat-tab>
    <ng-template mat-tab-label>
      <img src="/assets/images/41.png" alt="">
      <a routerLink="/">Home</a>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <img src="/assets/images/40.png" alt="">
      <a routerLink="/login">Login</a>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <img src="/assets/images/347.png" alt="">
      <a routerLink="/register">Register</a>
    </ng-template>
  </mat-tab>
</mat-tab-group>


<!-- <mat-grid-list cols="3" rowHeight="12:1">
    <mat-grid-tile><a routerLink="/">Home</a></mat-grid-tile>
    <mat-grid-tile><a routerLink="/login">Login</a></mat-grid-tile>
    <mat-grid-tile><a routerLink="/register">Register</a></mat-grid-tile>
    <mat-grid-tile>Others</mat-grid-tile>
</mat-grid-list> -->

<!-- <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/login">Login</a></li>
    <li><a routerLink="/register">Register</a></li>
</ul> -->