.mattabgroup {
    background-color: rgb(17, 160, 196);
}

a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-decoration-style: solid;
    padding-left: 6%;
}